@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background {
    background-image: url('/web\ sitemiz\ yapım\ aşamasındadır.png'); /* Arka plan resminizin yolunu buraya ekleyin */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #d5c080;
}

.contact-info {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 1.2em;
}

.contact-info div {
    font-size: 1.2em;
}

.email {
    color: #d5c080;
}

.phone {
    color: #d5c080;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #d5c080;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 30px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}